# Ignore thumbnails created by windows
Thumbs.db

# Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.aps
*.vcproj.*.user
*.vcxproj.user
*.csproj.user
*.vspscc
*_i.c
*.i
*.icf
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.key
*.crt
[Bb]in
[Dd]ebug/
[Dd]ebug.win32/
*.sbr
*.sdf
obj/
[Rr]elease/
[Rr]elease.win32/
_ReSharper*/
[Tt]est[Rr]esult*
ipch/
*.opensdf
*.opendb
.vs/
*.VC.db
bin/
Debug/
Release/
!external/OpenSSL/x64/Debug/
!external/OpenSSL/x64/Release/
!external/OpenSSL/x86/Debug/
!external/OpenSSL/x86/Release/

!external/OpenSSL/x64/Debug/lib/ossl_static.pdb
!external/OpenSSL/x64/Release/lib/ossl_static.pdb
!external/OpenSSL/x86/Debug/lib/ossl_static.pdb
!external/OpenSSL/x86/Release/lib/ossl_static.pdb

!external/Argon2/lib/x64/Debug/
!external/Argon2/lib/x64/Release/
!external/Argon2/lib/x86/Debug/
!external/Argon2/lib/x86/Release/